body {
	max-width: 1885px;
	margin: 0;
	padding: 0;
}

header {
	height: 675px;
	background-image: url(images/bg.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.container {
	max-width: 1200px;
	height: 100%;
	margin: 0 auto;
}

.wrapper {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.first {
	display: flex;
	justify-content: space-between;
}

.logo {
	padding: 130px 0 0 0;
}

.title {
	font-size: 60px;
	
	font-style: italic;
	margin: 0;
}

.title a {
	text-decoration: none;
	color: #fff;
}

.title a:hover {
	color: yellow;
}

.subtitle {
	font-size: 20px;
	color: #adadad;
	margin-top: 10px;
}

.social{}

.link {
	padding: 130px 0 0 0;
	display: block;
 	text-decoration: none;
	color: #fff;
	font-size: 20px;
}

.link:hover {
	color: yellow;
}

.navigation {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #1c1c1c;
	height: 60px;
}

ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.navigation li {
	max-width: 16,6%;
	height: 30px;
}

.navigation li:first-child {
	padding-left: 50px;
}

.navigation li:last-child {
	padding-right: 50px;
}

.navigation li a {
	text-decoration: none;
	font-size: 20px;
	color: #7a7a7a;
	text-transform: uppercase;
	font-weight: 100;
}

.navigation li a:hover {
	text-decoration: underline;
	color: #fff;
}

.content {
	display: flex;
	justify-content: space-between;
	padding: 80px 0;
}

.card {
	margin-right: 24px;
	font-weight: 400;
	letter-spacing: 1px;
	line-height: 25px;
}

.card:last-child {
	margin-right: 0px;
}

.card__title h3{
	font-size: 20px;
	margin-bottom: 40px;
}

.news {
	margin-top: 80px;
}

h2 {
	font-size: 40px;
	font-weight: 100;
	letter-spacing: 2px;
	margin-bottom: 20px;
}

.news__header span {
	font-size: 16px;
	letter-spacing: 3px;
}

.news__cards {
	margin: 40px 0;
	display: flex;
	justify-content: space-between;
}

.news__card_main {
	padding-right: 20px;
	height: 200px;
	display: flex;
	flex-direction: column;
	width: 22%;
}

.news__card_main:last-child {
	padding-right: 0;
}

.news__card_title {
	font-size: 14px;
	font-weight: 400;
}

.news__card_text {
	font-size: 14px;
	letter-spacing: 1px;
	line-height: 25px;
	flex-grow: 1;
}

.news__card_btn {
	background-color: #000;
	height: 50px;
	width: 170px;
	text-align: center;
}

.news__card_btn a {
	display: inline-block;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	padding-top: 16px;
}

.news__card_btn a:hover {
	color: yellow;
}

footer {
	height: 170px;
	text-align: center;
}

.footer__text {
	display: inline-block;
	margin-top: 100px;
}

.footer__text a:link {
	color: black;
}

.footer__text a:visited {
	color: black;
}